body {
  background-color: black;
  color: rgb(255, 255, 255);
}

.main {
  width: 90%;
  margin: auto;
}

@media (min-width: 1200px) {
  .main {
    width: 1200px;
    margin-left: 50px;
  }
}
@media (min-width: 767px) {
  .cabecera {
    display: block;
    width: 100%;
    height: 80px;
  }
  .cabecera img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 75px;
  }
}
@media (max-width: 767px) {
  .cabecera {
    display: none;
    width: 100%;
    height: 150px;
  }
}

th {
  background: -webkit-linear-gradient(rgb(0, 154, 255), rgb(0, 54, 155));
  background: -moz-linear-gradient(rgb(0, 154, 255), rgb(0, 54, 155));
  background: -o-linear-gradient(rgb(0, 154, 255), rgb(0, 54, 155));
}

td {
  border: 0px;
  border-left-width: 1px;
  border-right-width: 1px;
}

i.iconos {
  font-size: 20px;
}
.padding-right {
  margin-right: 10px;
}
.padding-left {
  padding-left: 40px;
}
.padding-top {
  padding-top: 30px;
}
/* a {
  color: rgb(255, 255, 255) !important;
} */
a:link {
  text-decoration: none !important;
  color: rgb(255, 255, 255) !important;
}
a:hover {
  text-decoration: none !important;
  color: rgb(0, 0, 238) !important;
}
a:visited {
  text-decoration: none !important;
  color: rgb(255, 255, 255) ;
}
/* a:active {
  text-decoration: none !important;
  color: rgb(255, 255, 255) !important;
} */


.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: rgba(51, 51, 51, 0.7);
 }
 .table-striped>tbody>tr:nth-child(even)>td,
 .table-striped>tbody>tr:nth-child(even)>th {
    background-color: black;
  }

img.road {
  width: 53px;
  height: 76px;
  margin: 10px;
  cursor: pointer;
  background: white url(https://d3bxz2vegbjddt.cloudfront.net/members/member_images/licenses/road-icon.jpg) no-repeat;
}

img.oval {
  width: 53px;
  height: 76px;
  cursor: pointer;
  background: white url(https://d3bxz2vegbjddt.cloudfront.net/members/member_images/licenses/oval-icon.jpg) no-repeat;
}

img.selected {
 border: 2px solid rgb(0, 0, 238);
}

.loaderMain {
  width: 100%;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  margin: auto;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.logo {
  /* width: 60%; */
  margin-left: 100px;
}
.logo-img {
  width:400px;
  height: 150px;
}
.descripcion {
  width: 75%;
  margin-left:100px;
  margin-bottom: 50px;
}

.arrow-youtube {
  font-size: 40px;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.grupoVideos {
  width: 1000px;
  height: 240px;
  overflow-x: hidden;
  white-space: nowrap;
}
.video {
  padding:5px;
}
iframe{
  border-width: 0px;
}

.calendario {
  position: relative; padding-bottom: 75%; height: 0; overflow: hidden;
}

.calendario iframe {
  position: absolute; top:0; left: 0; width: 100%; height: 100%;
}

.menu{display:block;}

.menu li{
  display: inline-block;
  position: relative;
  z-index:1;
  padding-right: 20px;
}

.menu li a {
  font-weight:600;
  text-decoration:none;
  padding:11px;
  display:block;
  color:#ffffff;

  -webkit-transition: all 0.2s ease-in-out 0s;
   -moz-transition: all 0.2s ease-in-out 0s;
   -o-transition: all 0.2s ease-in-out 0s;
   -ms-transition: all 0.2s ease-in-out 0s;
   transition: all 0.2s ease-in-out 0s;
}

.menu li a:hover, .menu li:hover > a{
  color:#ffffff;
  background:#9CA3DA;
}

/* hide the second level menu */
.menu ul {display: none;
margin: 0;
padding: 0;
width: 150px;
position: absolute;
top: 43px;
left: 0px;
background: #ffffff;
}

/* display second level menu on hover */
.menu li:hover > ul{ display: block;}

.menu ul li {display:block;
float: none;
background:none;
margin:0;
padding:0;
}

.menu ul li a {font-size:12px;
font-weight:normal;
display:block;
color:#797979;
border-left:3px solid #ffffff;
background:#ffffff;}

.menu ul li a:hover, .menu ul li:hover > a{
background:#f0f0f0;
border-left:3px solid #9CA3DA;
color:#797979;
}
@media (max-width: 767px) {

  .menu{display:none;}

  .mobile-menu{display:block;}

  nav{margin:0;
  background:none;}

  .menu li{display:block;
  margin:0;}

  .menu li a {background:#ffffff;
  color:#797979;
  border-top:1px solid #e0e0e0;
  border-left:3px solid #ffffff;}

  .menu li a:hover, .menu li:hover > a{
  background:#f0f0f0;
  color:#797979;
  border-left:3px solid #9CA3DA;}

  /*level 2 and 3 - make same width as all items*/
  .menu ul {display:block;
  position:relative;
  top:0;
  left:0;
  width:100%;}

  .menu ul ul {left:0;}

}/*end media queries*/

.mobile-menu{
  display:none;
  /* width:100%; */
  padding:11px;
  /* background:#3E4156; */
  color:#ffffff;
  text-transform:uppercase;
  font-weight:600;
  list-style-type: none;
}
.mobile-menu:hover{
  /* background:#3E4156; */
  color:#ffffff;
  text-decoration:none;
}
/* hide the second level menu */
.mobile-menu ul {
  display: none;
  margin: 0;
  padding: 0;
  width: 150px;
  position: absolute;
  top: 43px;
  left: 0px;
  background: #3E4156;
  z-index: 1;
}

/* display second level menu on hover */
.mobile-menu:hover >li > ul{ display: block;}

@media (max-width: 767px){
    .mobile-menu{
      display:block;
      width:35px;
      padding:11px;
      background:#3E4156;
      color:#ffffff;
      text-transform:uppercase;
      font-weight:600;
        list-style-type: none;
    }
}
