<div class="logo">
  <img class="logo-img" src="http://lfoclub.com/forolfo/attachment.php?aid=730">
</div>
<div class="descripcion">
  <p> LFO RACING es nuestro equipo de iRacing. Nace a raíz de la voluntad de muchos de los pilotos de LFO Club de correr en este simulador y disfrutar de su sistema de competición. Buscamos entrenar juntos durante la semana, compartir impresiones para mejorar, trabajar el setup, quedar y coincidir varios de nosotros en una misma carrera y, sobre todo, disfrutar de las carreras en equipo como las Endurance.</p>
  <p> Director: Daniel Jimenez </p>
  <a href="https://twitter.com/LFO_RACING" target="new" title="https://twitter.com/LFO_RACING">
    <i class="fa fa-twitter iconos padding-right" ></i>
  </a>
  <a href="mailto:lforacing@gmail.com" title="lforacing@gmail.com">
    <i class="fa fa-envelope iconos"></i>
  </a>
</div>
