<div ng-controller="mediaController">
  <div ng-repeat="grupoVideos in gruposVideos" class="padding-top">
    <div class="padding-left">
        <h3>{{grupoVideos.grupo}}</h3>
    </div>

    <div class="row">
      <div class="col-xs-1 text-right vcenter" ng-click='scroll(1, $index)'>
        <i class="fa fa-arrow-circle-left arrow-youtube" ></i>
      </div>
      <div id="global{{$index}}" class="col-xs-8 grupoVideos vcenter">
          <span class="video" ng-repeat="video in grupoVideos.videos | orderBy: sortVideo">
            <iframe width="315" height="220" ng-src="{{getVideo(video.url) | trustAsResourceUrl}}"></iframe>
          </span>
      </div>
      <div class="col-xs-1 vcenter">
        <i class="fa fa-arrow-circle-right arrow-youtube" ng-click='scroll(2, $index)'></i>
      </div>
    </div>
  </div>
</div>
