<div class="main" ng-controller="teamController">
  <img class="road" ng-class="(roadSelected)?'selected':''" ng-click="loadRoad()">
  <img class="oval" ng-class="(ovalSelected)?'selected':''" ng-click="loadOval()">
  <table class="table table-bordered table-striped">
    <tr>
      <th>
        <a href="#" ng-click="sortType = 'CustId';sortReverse = !sortReverse">
          Id
          <span ng-show="sortType == 'CustId' && !sortReverse" class="fa fa-caret-down"></span>
          <span ng-show="sortType == 'CustId' && sortReverse" class="fa fa-caret-up"></span>
        </a>
      </th>
      <th>
        <a href="#" ng-click="sortType = 'Driver';sortReverse = !sortReverse">
          Nombre
          <span ng-show="sortType == 'Driver' && !sortReverse" class="fa fa-caret-down"></span>
          <span ng-show="sortType == 'Driver' && sortReverse" class="fa fa-caret-up"></span>
        </a>
      </th>
      <th>
        <a href="#" ng-click="sortType = 'iRating';sortReverse = !sortReverse">
          iRating
          <span ng-show="sortType == 'iRating' && !sortReverse" class="fa fa-caret-down"></span>
          <span ng-show="sortType == 'iRating' && sortReverse" class="fa fa-caret-up"></span>
        </a>
      </th>
      <th>
        <a href="#" ng-click="sortType = 'Class';sortReverse = !sortReverse">
          Licencia
          <span ng-show="sortType == 'Class' && !sortReverse" class="fa fa-caret-down"></span>
          <span ng-show="sortType == 'Class' && sortReverse" class="fa fa-caret-up"></span>
        </a>
      </th>
      <th>
        <a href="#" ng-click="sortType = 'AvgInc';sortReverse = !sortReverse">
          Incidentes
          <span ng-show="sortType == 'AvgInc' && !sortReverse" class="fa fa-caret-down"></span>
          <span ng-show="sortType == 'AvgInc' && sortReverse" class="fa fa-caret-up"></span>
        </a>
      </th>
      <th>
        <a href="#" ng-click="sortType = 'Wins';sortReverse = !sortReverse">
          Victorias
          <span ng-show="sortType == 'Wins' && !sortReverse" class="fa fa-caret-down"></span>
          <span ng-show="sortType == 'Wins' && sortReverse" class="fa fa-caret-up"></span>
        </a>
      </th>
      <th>
        <a href="#" ng-click="sortType = 'Starts';sortReverse = !sortReverse">
          Carreras
          <span ng-show="sortType == 'Starts' && !sortReverse" class="fa fa-caret-down"></span>
          <span ng-show="sortType == 'Starts' && sortReverse" class="fa fa-caret-up"></span>
        </a>
      </th>
      <th>
        <a href="#" ng-click="sortType = 'LapsLead';sortReverse = !sortReverse">
          Lider
          <span ng-show="sortType == 'LapsLead' && !sortReverse" class="fa fa-caret-down"></span>
          <span ng-show="sortType == 'LapsLead' && sortReverse" class="fa fa-caret-up"></span>
        </a>
      </th>
      <th>
        <a href="#" ng-click="sortType = 'Laps';sortReverse = !sortReverse">
          Vueltas
          <span ng-show="sortType == 'Laps' && !sortReverse" class="fa fa-caret-down"></span>
          <span ng-show="sortType == 'Laps' && sortReverse" class="fa fa-caret-up"></span>
        </a>
      </th>
      <th>
        <a href="#" ng-click="sortType = 'AvgPtsperRace';sortReverse = !sortReverse">
          Media puntos
          <span ng-show="sortType == 'AvgPtsperRace' && !sortReverse" class="fa fa-caret-down"></span>
          <span ng-show="sortType == 'AvgPtsperRace' && sortReverse" class="fa fa-caret-up"></span>
        </a>
      </th>
      <th>
        <a href="#" ng-click="sortType = 'TotalPts';sortReverse = !sortReverse">
          Total puntos
          <span ng-show="sortType == 'TotalPts' && !sortReverse" class="fa fa-caret-down"></span>
          <span ng-show="sortType == 'TotalPts' && sortReverse" class="fa fa-caret-up"></span>
        </a>
      </th>
      <th>
      </th>
    </tr>
    <tbody ng-show="!loading">
      <tr ng-repeat="piloto in teamLFO | orderBy:sorterFunc:sortReverse">
        <td>{{piloto.CustId}}</td>
        <td>{{piloto.name}}</td>
        <td>{{piloto.iRating}}</td>
        <td>{{piloto.Class}}</td>
        <td>{{piloto.AvgInc}}</td>
        <td>{{piloto.Wins}}</td>
        <td>{{piloto.Starts}}</td>
        <td>{{piloto.LapsLead}}</td>
        <td>{{piloto.Laps}}</td>
        <td>{{piloto.AvgPtsperRace}}</td>
        <td>{{piloto.TotalPts}}</td>
        <td class="text-center">
          <a ng-if="piloto.twitter" href="{{piloto.twitter}}" target="new">
            <i class="fa fa-twitter iconos padding-right"></i>
          </a>
          <a ng-if="piloto.youtube" href="{{piloto.youtube}}" target="new">
            <i class="fa fa-youtube iconos" ></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="loaderMain text-center" ng-show="loading">
      <div class="loader"></div>
    </div>
</div>
